/* * W&W - Futuristic Coming Soon Template
*
* This is a premium product available exclusively at this address http://themeforest.net/user/madeon08/portfolio
*
* The demo files are minified/crypted for copyright reasons, you will find them, expanded, commented and coded accurately in your download pack.
*
* Thanks for your support!
*
* */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/***** HEADER *****/

.header {
	background-color: #FFF;
	display: block;
	padding: 0.5rem 0;
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 9;

	-webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.07);
			box-shadow: 0 3px 0 0 rgba(0,0,0,0.07);

	-webkit-transition: padding 350ms ease;
       -moz-transition: padding 350ms ease;
        -ms-transition: padding 350ms ease;
         -o-transition: padding 350ms ease;
            transition: padding 350ms ease;
}

.header .right { text-align: right; }

.header ul {
	display: table;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0.938rem;
}

.header ul li {
	display: block;
	float: left;
	padding: 0 0 0 0.938rem;
}

.header ul li + li + li {
	padding-left: 2.814em;
}

.header ul li + li + li + li {
	padding-left: 0.938rem;
}

.header ul a:not(.btn) {
	background-color: #DEDEDE;
	display: block;
	height: 2.75rem;
	position: relative;
	text-align: center;
	width: 2.75rem;

	-webkit-transition: background-color 500ms ease;
       -moz-transition: background-color 500ms ease;
        -ms-transition: background-color 500ms ease;
         -o-transition: background-color 500ms ease;
            transition: background-color 500ms ease;

	-webkit-border-radius: 50%;
			border-radius: 50%;
}

.header ul a:not(.btn):hover { background-color: #E91E63; }

.header ul .smLink a svg {
	display: block;
	height: 1.25rem;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 1.25rem;

	-webkit-transform: translateX(-50%) translateY(-50%);
	   -moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		 -o-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
}

.header ul a.btn { padding: 0 2.5rem; }
s
.header ul a.btn svg {
	display: block;
	height: 1.25rem;
	width: 1.5rem;
}

.header ul a.btn svg * {
	-webkit-transition: all 500ms ease;
       -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
            transition: all 500ms ease;
}

.header ul a.btn.enquire svg * { stroke: #E91E63; }
.header ul a.btn.enquire:hover svg * { stroke: #FFF; }

.header ul a.btn.login svg * { fill: #DEDEDE; }
.header ul a.btn.login:hover svg * { fill: #FFF; }

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: Ubuntu, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
    color: #333;
    background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFF 90%);
    background: -moz-linear-gradient(90deg, #ECE9E6 10%, #FFF 90%);
    background: -ms-linear-gradient(90deg, #ECE9E6 10%, #FFF 90%);
    background: -o-linear-gradient(90deg, #ECE9E6 10%, #FFF 90%);
    background: linear-gradient(90deg, #ECE9E6 10%, #FFF 90%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body a {
    color: #32cfc6;
    text-decoration: none
}

body a:active, body a:focus, body a:hover {
    outline: 0!important;
    text-decoration: none!important;
    color: #32cfc6
}

button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

button:active, button:focus, button:hover {
    outline: 0!important
}

.clear {
    clear: both
}

.no-padding {
    padding: 0!important
}

.no-pad-top {
    padding-top: 0
}

.no-pad-right {
    padding-right: 0
}

.opacity-0 {
    opacity: 0.3
}

.display-none {
    display: none
}

.index9999 {
    z-index: 9999!important
}

.overlay-prevent {
    position: absolute;
    z-index: 9999999;
    width: 100%;
    height: 100%
}

.background-top {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.background-top .item-title {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    padding: 0 30%;
    text-align: center;
    opacity: 1
}

.background-top .item-title h2 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 500
}

.background-top .item-title h2 span.point {
    color: #6C7A89
}

.background-top .item-title p {
    color: #2B2D35;
    font-size: 1.6rem;
    line-height: 1.4;
    padding: .4em 2em;
    display: block
}

#who-popup .background-top {
    background-image: url(http://cdn.themehelite.com/themeforest/wandw/img/back-1-light.jpg)
}

#when-popup .background-top {
    background-image: url(http://cdn.themehelite.com/themeforest/wandw/img/back-2-light.jpg)
}

#where-popup .background-top {
    background-image: url(http://cdn.themehelite.com/themeforest/wandw/img/back-3-light.jpg)
}

#why-popup .background-top {
    background-image: url(http://cdn.themehelite.com/themeforest/wandw/img/back-4-light.jpg)
}

.list-sections {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.list-sections .item-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .6s cubic-bezier(.42, 0, .58, 1);
    -moz-transition: all .6s cubic-bezier(.42, 0, .58, 1);
    -ms-transition: all .6s cubic-bezier(.42, 0, .58, 1);
    -o-transition: all .6s cubic-bezier(.42, 0, .58, 1);
    transition: all .6s cubic-bezier(.42, 0, .58, 1);
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    transform: translateY(100vh);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.list-sections .item-list .item-plus {
    display: none
}

.list-sections .item-list a.open-popup-link {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: inherit
}

.list-sections .item-list.show-ready {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    border-bottom: 1px solid #2B2D35
}

.list-sections .item-list.show-ready::after {
    opacity: .1
}

.list-sections .item-list::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    background: url(img/back-1-light.jpg) center center no-repeat;
    background-size: cover
}

.list-sections .item-list:nth-of-type(2) {
    top: 25vh
}

.list-sections .item-list:nth-of-type(2)::after {
    background-image: url(img/back-2-light.jpg)
}

.list-sections .item-list:nth-of-type(3) {
    top: 50vh
}

.list-sections .item-list:nth-of-type(3)::after {
    background-image: url(img/back-3-light.jpg)
}

.list-sections .item-list:nth-of-type(4) {
    top: 75vh
}

.list-sections .item-list:nth-of-type(4)::after {
    background-image: url(img/back-4-light.jpg)
}

@media only screen and (min-width:992px) {
    .list-sections .item-list {
        width: 33vw;
        height: 100%;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: width 0s;
        -moz-transition: width 0s;
        transition: width 0s
    }
    .list-sections .item-list:nth-of-type(2) {
        top: 0;
        left: 33vw
    }
    .list-sections .item-list:nth-of-type(3) {
        top: 0;
        left: 66vw
    }
    .list-sections .item-list:nth-of-type(4) {
        top: 0;
        left: 99vw
    }
    .list-sections .item-list::after {
        height: 100vh;
        width: 100%;
        opacity: 0.3;
        -webkit-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        -moz-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        -ms-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        -o-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        transition: all .6s cubic-bezier(.42, 0, .58, 1)
    }
    .list-sections .item-list.show-ready {
        opacity: 1;
        border-bottom: none;
        border-right: 1px solid #2B2D35
    }
    .list-sections .item-list.show-ready::after {
        opacity: .2
    }
}

@media only screen and (min-width:1200px) {
    .list-sections .item-list::after {
        background-attachment: fixed;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition: all .7s cubic-bezier(.42, 0, .58, 1);
        -moz-transition: all .7s cubic-bezier(.42, 0, .58, 1);
        -ms-transition: all .7s cubic-bezier(.42, 0, .58, 1);
        -o-transition: all .7s cubic-bezier(.42, 0, .58, 1);
        transition: all .7s cubic-bezier(.42, 0, .58, 1)
    }
    .list-sections .item-list .item-plus {
        position: absolute;
        display: block;
        background: #2B2D35;
        color: #FFF;
        z-index: 2;
        bottom: -20vh;
        padding: 2em 0;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transition: all .3s cubic-bezier(.42, 0, .58, 1);
        -moz-transition: all .3s cubic-bezier(.42, 0, .58, 1);
        -ms-transition: all .3s cubic-bezier(.42, 0, .58, 1);
        -o-transition: all .3s cubic-bezier(.42, 0, .58, 1);
        transition: all .3s cubic-bezier(.42, 0, .58, 1)
    }
    .list-sections .item-list .item-plus i {
        color: #BABABA
    }
    .list-sections .item-list a.open-popup-link:hover .item-plus {
        bottom: 0
    }
    .list-sections .item-list.show-ready {
        border: none
    }
    .list-sections .item-list.show-ready::after {
        opacity: 0.3
    }
    .no-touch .list-sections .item-list:hover::after {
        opacity: 0.7;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

.item-title {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 12.5vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.item-title h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500
}

.item-title h2 span.point {
    color: #6C7A89
}

.item-title p {
    font-size: 1.4rem;
    line-height: 1.4;
    padding: .5em 1.5em;
    color: #2B2D35
}

@media only screen and (min-width:992px) {
    .item-title {
        top: 50vh;
        width: 33vw;
        opacity: 0.3;
        -webkit-transform: translateY(20px) translateX(0);
        -moz-transform: translateY(20px) translateX(0);
        -ms-transform: translateY(20px) translateX(0);
        -o-transform: translateY(20px) translateX(0);
        transform: translateY(20px) translateX(0)
    }
    .show-ready .item-title {
        opacity: 1;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        -moz-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        -ms-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        -o-transition: all .6s cubic-bezier(.42, 0, .58, 1);
        transition: all .6s cubic-bezier(.42, 0, .58, 1)
    }
}

.info-item {
    clear: both;
    visibility: visible;
    opacity: 1;
    padding: 0;
    cursor: auto;
    background-color: #FFF;
    color: #2B2D35
}

.info-item h3 {
    color: #333;
    margin: 0 auto 1em;
    line-height: 1;
    font-size: 3rem
}

.info-item h3 small {
    color: #BABABA
}

.info-item p {
    color: #2B2D35;
    margin: 0 auto;
    line-height: 2
}

.mfp-close, .scroll-chevron {
    display: block;
    z-index: 1;
    border: none;
    background: 0 0;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
    -moz-transition: -moz-transform 1s 0s, visibility 0s 1s;
    transition: transform 1s 0s, visibility 0s 1s
}

.mfp-close:active, .mfp-close:focus, .mfp-close:hover, .scroll-chevron:active, .scroll-chevron:focus, .scroll-chevron:hover {
    text-decoration: none;
    outline: 0
}

#nav-item {
    width: 100%;
    position: fixed;
    z-index: -9999;
    background: rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    font-size: .7em;
    font-weight: 300;
    color: #333;
    display: block;
    height: 6em;
    overflow: hidden;
    text-indent: 0;
    white-space: nowrap
}

#nav-item .social-icons {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 1;
    width: auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap
}

#nav-item .social-icons a {
    color: rgba(51, 51, 51, .7);
    width: 6em;
    line-height: 5em;
    letter-spacing: 0;
    background: #FFF;
    font-size: 1.2em;
    font-weight: 300;
    height: 100%;
    display: inline-block;
    text-align: center;
    float: left;
    border: none;
    -webkit-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .3s cubic-bezier(0, 0, .58, 1);
    transition: all .3s cubic-bezier(0, 0, .58, 1)
}

#nav-item .social-icons a:hover {
    color: #FFF;
    background: #333
}

#nav-item .mfp-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2em;
    background: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(51, 51, 51, .7);
    letter-spacing: .5em;
    text-indent: 0;
    width: auto;
    height: 100%;
    -webkit-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .3s cubic-bezier(0, 0, .58, 1);
    transition: all .3s cubic-bezier(0, 0, .58, 1)
}

#nav-item .mfp-close:hover {
    color: #FFF;
    background: #333
}

.scroll-chevron {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-animation: bounce-chevron 1.4s .4s;
    -moz-animation: bounce-chevron 1.4s .4s;
    animation: bounce-chevron 1.4s .4s;
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    animation-iteration-count: 3
}

@-webkit-keyframes bounce-chevron {
    0% {
        -webkit-transform: translateX(-50%) scale(1)
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1)
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1)
    }
}

@-moz-keyframes bounce-chevron {
    0% {
        -moz-transform: translateX(-50%) scale(1)
    }
    50% {
        -moz-transform: translateY(10px) translateX(-50%) scale(1)
    }
    100% {
        -moz-transform: translateX(-50%) scale(1)
    }
}

@keyframes bounce-chevron {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1)
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
        -ms-transform: translateY(10px) translateX(-50%) scale(1);
        -o-transform: translateY(10px) translateX(-50%) scale(1);
        transform: translateY(10px) translateX(-50%) scale(1)
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1)
    }
}

.container-wide {
    width: 100%;
    padding: 0 5em
}

.first-block {
    background: #333;
    width: 100%;
    padding: 4em 0 3em
}

.first-block h2 {
    color: #FFF;
    font-size: 4.5em;
    line-height: .7;
    margin-bottom: .3em
}

.first-block h3 {
    color: #F5F6F7;
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: 0
}

.point-gold {
    color: #32cfc6
}

.info-item h3 span.point {
    color: #6C7A89
}

.contact-block h4, .countdown-block h4 {
    font-size: 1.4em;
    margin-bottom: .4em
}

.info-block {
    padding: 9em 0 7em
}

.second-block {
    background: #6C7A89;
    width: 100%;
    padding: 4em 0
}

.second-block h2 {
    color: #333;
    font-size: 5em;
    line-height: .7;
    margin-bottom: .3em
}

.second-block h3 {
    font-size: 2em;
    color: #292c37;
    line-height: 1.4;
    margin-bottom: 0
}

.on-right {
    text-align: right;
    font-style: italic;
    color: #BABABA!important;
    font-size: .8em;
    margin-top: 2em!important
}

.block-services {
    background: 0 0;
    padding: 10em 0
}

.block-services .item-service {
    text-align: center;
    color: #333;
    padding: 2em 1.5em
}

.block-services .item-service .fa {
    font-size: 3em;
    border: 1px solid #32cfc6;
    color: #6C7A89;
    padding: 1em
}

.block-services .item-service h4 {
    font-size: 1.3em;
    margin: 1.5em 0 .5em;
    color: #333;
    font-weight: 500;
    text-transform: uppercase
}

.block-services .item-service span.border-service {
    display: block;
    height: 2px;
    background: #32cfc6;
    width: 15%;
    margin: 1em auto 1.5em
}

.block-services .item-service p {
    color: #2B2D35;
    font-size: .8em
}

.copyright {
    padding: 3em 0;
    background: #333;
    width: 100%
}

.copyright .text-center {
    text-align: center
}

.copyright .text-center p {
    margin: 0;
    color: #F5F6F7;
    font-size: .8em;
    line-height: 1.5em
}

.fa-clock-o {
    -webkit-animation: spin 8000ms infinite linear;
    -moz-animation: spin 8000ms infinite linear;
    animation: spin 8000ms infinite linear
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.countdown-block {
    padding: 9em 0
}

.countdown-block p.countdown-p {
    font-style: italic;
    font-size: .8em
}

.countdown-block #countdown_dashboard {
    display: block;
    margin: 0 auto;
    overflow: hidden
}

.countdown-block #countdown_dashboard .dash-glob {
    border-left: 1px solid #2B2D35;
    text-align: center
}

.countdown-block #countdown_dashboard .dash-glob:first-child {
    margin-left: 0;
    border-left: none
}

.countdown-block #countdown_dashboard .dash-glob .dash {
    padding-bottom: 10px;
    position: relative;
    opacity: 1
}

.countdown-block #countdown_dashboard .dash-glob .dash .digit {
    color: #2B2D35;
    font-size: 4em;
    font-weight: 300;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle
}

.countdown-block #countdown_dashboard .dash-glob .dash .dash_title {
    clear: both;
    color: #2B2D35;
    display: block;
    font-size: .7em;
    letter-spacing: .5em;
    text-transform: uppercase;
    width: 100%
}

.newsletter-block {
    background: #333;
    width: 100%
}

.newsletter-block .block-left-newsletter {
    background: #6C7A89;
    padding: 8em 4em;
    text-align: center
}

.newsletter-block .block-left-newsletter .fa {
    color: #292c37;
    font-size: 10em
}

.newsletter-block:hover .fa-bell {
    -webkit-animation: drop .8s 2 ease-in-out;
    -moz-animation: drop .8s 2 ease-in-out;
    animation: drop .8s 2 ease-in-out;
    -webkit-transform-origin: 50% 6px;
    -moz-transform-origin: 50% 6px;
    -ms-transform-origin: 50% 6px;
    -o-transform-origin: 50% 6px;
    transform-origin: 50% 6px
}

@-webkit-keyframes drop {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(6deg)
    }
    40%, 80% {
        transform: rotate(-6deg)
    }
}

@-moz-keyframes drop {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(6deg)
    }
    40%, 80% {
        transform: rotate(-6deg)
    }
}

@keyframes drop {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(6deg)
    }
    40%, 80% {
        transform: rotate(-6deg)
    }
}

.newsletter-block .block-right-newsletter {
    padding: 4em 3em 2em
}

.newsletter-block .block-right-newsletter h2 {
    color: #F5F6F7;
    font-size: 3em;
    line-height: .7;
    padding: 1em 0 .5em
}

.newsletter-block .block-right-newsletter #subscribe p {
    color: #BABABA;
    font-size: 1em;
    line-height: 1.2em
}

.newsletter-block .block-right-newsletter #subscribe p strong {
    color: #2B2D35;
    font-weight: 500
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe {
    margin-top: 2em
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group {
    margin-bottom: 1em
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .fa {
    color: #2B2D35;
    font-size: 1.5em;
    margin: .5em 0 0 -2em;
    position: absolute;
    width: 2em;
    text-align: center
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .form-control {
    background: 0 0;
    border: 1px solid #BABABA;
    border-right: none;
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    outline: 0;
    padding: 0 1em;
    width: 60%;
    color: #333;
    -webkit-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .3s cubic-bezier(0, 0, .58, 1);
    transition: all .3s cubic-bezier(0, 0, .58, 1)
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .form-control:focus, .newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .form-control:hover {
    box-shadow: none
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .form-control::-webkit-input-placeholder {
    color: #BABABA!important
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .form-control::-moz-placeholder {
    color: #BABABA!important
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .form-control:-moz-placeholder {
    color: #BABABA!important
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group .form-control:-ms-input-placeholder {
    color: #BABABA!important
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group button.submit {
    border: 1px solid #FFF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #FFF;
    color: #2B2D35;
    height: 50px;
    padding: 1em 3em;
    font-size: 1em;
    line-height: 1;
    width: 25%;
    -webkit-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .3s cubic-bezier(0, 0, .58, 1);
    transition: all .3s cubic-bezier(0, 0, .58, 1)
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group button.submit:focus, .newsletter-block .block-right-newsletter #subscribe #notifyMe .form-group button.submit:hover {
    background-color: #333;
    color: #F5F6F7
}

.newsletter-block .block-right-newsletter #subscribe #notifyMe p.message {
    font-size: 1em;
    text-align: left;
    height: 4em;
    line-height: 1em
}

.newsletter-block .block-right-newsletter #subscribe form.success-full .fa, .newsletter-block .block-right-newsletter #subscribe form.success-full p.message {
    color: #27AE60!important
}

.newsletter-block .block-right-newsletter #subscribe form.bad-email .fa, .newsletter-block .block-right-newsletter #subscribe form.bad-email p.message, .newsletter-block .block-right-newsletter #subscribe form.error .fa, .newsletter-block .block-right-newsletter #subscribe form.error p.message {
    color: #C0392B!important
}

.legal-info {
    padding: 3em 0;
    background: #2B2D35;
    width: 100%;
    -webkit-transition: all .4s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all .4s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all .4s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .4s cubic-bezier(0, 0, .58, 1);
    transition: all .4s cubic-bezier(0, 0, .58, 1)
}

.legal-info p {
    color: #999;
    -webkit-transition: all .4s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all .4s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all .4s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .4s cubic-bezier(0, 0, .58, 1);
    transition: all .4s cubic-bezier(0, 0, .58, 1)
}

.legal-info:hover {
    background: #000
}

.legal-info:hover .text-center p {
    color: #F5F6F7
}

.locate-block {
    padding: 0;
    width: 100%
}

.locate-block .place-info {
    padding: 6em 4em 0
}

.locate-block .place-info .logo-where {
    float: left;
    max-width: 10em;
    padding: 0 1em .5em 0
}

.locate-block .place-info h3 {
    margin-bottom: .5em
}

.locate-block .place-info span.border {
    display: block;
    height: 2px;
    background: #999;
    width: 100%;
    margin: 2em 0
}

.locate-block .place-info .location-bottom {
    background: #F5F6F7;
    border-left: 2px solid #32cfc6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 1em
}

.locate-block .place-info .location-bottom h5 {
    font-size: 1.2em;
    color: #2B2D35;
    margin-bottom: 1em
}

.locate-block .place-info .location-bottom p.color-info {
    color: #2B2D35!important;
    font-size: .8em
}

#map {
    height: 900px;
    position: relative;
    color: #333!important
}

#map h6 {
    font-weight: 500;
    color: #333;
    font-size: 1em;
    margin-bottom: .2em
}

#map p {
    font-weight: 400;
    color: #000;
    font-size: 1em;
    line-height: 1.5
}

.contact-part, .info-solutions {
    padding: 9em 7em;
    min-height: 65em
}

.info-solutions {
    background: url(http://cdn.themehelite.com/themeforest/wandw/img/why-left-light.jpg) center center no-repeat;
    background-size: cover;
    border-right: 1px solid #333
}

.info-solutions h3 small {
    color: #333
}

.info-solutions p.contact-p {
    color: #333;
    font-weight: 500;
    line-height: 1.6;
    font-size: .9em
}

.info-solutions span.border-light {
    display: block;
    height: 1px;
    background: #333;
    width: 70%;
    margin: 2em 0
}

.info-solutions .contact-solution {
    margin: 1em 0
}

.info-solutions .contact-solution a {
    text-decoration: none;
    color: #333
}

.info-solutions .contact-solution h4 {
    font-size: 1.2em
}

.info-solutions .contact-solution p {
    color: #333;
    font-size: .9em
}

.contact-part h3 {
    margin-bottom: .2em
}

.contact-part p {
    font-size: .8em;
    color: #2B2D35;
    line-height: 1.2;
    margin: 0
}

.contact-part .error-message, .contact-part .success-message {
    background-color: #27AE60;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100%;
    -webkit-border-radius: 2.14286em;
    -moz-border-radius: 2.14286em;
    -ms-border-radius: 2.14286em;
    border-radius: 2.14286em
}

.contact-part .error-message p, .contact-part .success-message p {
    color: #FFF!important;
    text-align: center;
    font-style: normal!important;
    font-size: 1em;
    font-weight: 500
}

.contact-part .error-message {
    background-color: #FF1D4D;
    max-width: 70%
}

#contact-form {
    margin-top: 5em
}

#contact-form .form-control {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #333;
    display: block;
    font-size: 1em;
    padding: 0;
    width: 100%;
    margin-bottom: 2em
}

#contact-form .form-control::-webkit-input-placeholder {
    color: #ccc!important
}

#contact-form .form-control::-moz-placeholder {
    color: #ccc!important
}

#contact-form .form-control:-moz-placeholder {
    color: #ccc!important
}

#contact-form .form-control:-ms-input-placeholder {
    color: #ccc!important
}

#contact-form .form-control:focus {
    border-color: #32cfc6;
    outline: 0
}

#contact-form textarea.form-control {
    padding-bottom: 3em
}

#contact-form button {
    background: #32cfc6;
    border: 2px solid #32cfc6;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    padding: 1em 3em;
    margin-top: 3em;
    -webkit-border-radius: 2.14286em;
    -moz-border-radius: 2.14286em;
    -ms-border-radius: 2.14286em;
    border-radius: 2.14286em;
    -webkit-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all .3s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .3s cubic-bezier(0, 0, .58, 1);
    transition: all .3s cubic-bezier(0, 0, .58, 1)
}

#contact-form button:hover {
    background: #FFF;
    border: 2px solid #32cfc6;
    color: #333;
    text-decoration: none
}

@media only screen and (max-width:1200px) {
    .first-block h2 {
        font-size: 4em;
        line-height: 1em;
        margin-bottom: .1em
    }
    .info-block {
        padding: 5em 1em 3em
    }
    img.img-right-about {
        margin-top: 3em
    }
    .second-block h2 {
        font-size: 4em;
        line-height: 1em;
        margin-bottom: .1em
    }
    .block-services, .item-service {
        padding: 3em 0
    }
    .first-block h3, .second-block h3 {
        line-height: 1.3
    }
    .countdown-block {
        padding: 5em 0
    }
    #countdown_dashboard {
        margin-top: 3em;
        margin-bottom: 2em
    }
    .block-left-newsletter {
        padding: 3em 4em
    }
    .block-right-newsletter {
        padding: 3em 8em 5em
    }
    .container-wide {
        padding: 0 1em
    }
    .spec-sm {
        padding: 0 4em
    }
    .place-info {
        padding: 6em 2em 3em!important
    }
    .locate-block .place-info .logo-where {
        margin: auto auto 2em
    }
    #map {
        width: 100%!important
    }
    .contact-part, .info-solutions {
        padding: 6em 5em;
        min-height: 0
    }
    p.contact-p-right {
        max-width: 100%
    }
    #contact-form {
        margin-top: 3em
    }
    #contact-form button {
        width: 100%;
        margin-bottom: 3em
    }
}

@media only screen and (max-width:992px) {
    .item-title p {
        display: none
    }
    .background-top .item-title {
        padding: 0 10%
    }
    .countdown-block {
        padding: 5em 1em 3em
    }
    .newsletter-block>.block-right-newsletter #subscribe #notifyMe .form-group input.form-control {
        width: 100%;
        margin-bottom: 1em;
        border-right: 1px solid #BABABA
    }
    .newsletter-block>.block-right-newsletter #subscribe #notifyMe .form-group button.submit {
        width: 100%
    }
    .controls .fa {
        right: 5.5em
    }
    .newsletter-block .block-right-newsletter #subscribe #notifyMe p.message {
        margin-top: 2em;
        line-height: 1.5em;
        height: 6em
    }
    .locate-block .place-info .logo-where {
        float: none;
        max-width: 15em;
        padding: 0
    }
    .spec-sm {
        padding: 0 4em
    }
}

@media only screen and (max-width:768px) {
    .item-title h2 {
        font-size: 3rem
    }
    .background-top .item-title h2 {
        font-size: 2rem
    }
    .background-top .item-title h2 i {
        font-size: 2em!important
    }
    .background-top .item-title {
        padding: 0 10%
    }
    .first-block h3, .second-block h3 {
        font-size: 1.6em
    }
    .countdown-block {
        text-align: center
    }
    .countdown-block #countdown_dashboard {
        margin-top: 3em;
        margin-bottom: 1em
    }
    .dash-glob:nth-child(3) {
        border: none!important
    }
    .countdown-block #countdown_dashboard .dash-glob .dash .digit {
        font-weight: 500
    }
    .block-right-newsletter {
        padding: 3em 2em
    }
    .controls .fa {
        right: 2.5em
    }
    .legal-info {
        padding: 3em 1em
    }
    .contact-part, .info-solutions {
        padding: 6em 2em 2em
    }
    .spec-sm {
        padding: 0 1em
    }
    .contact-part #contact-form button {
        margin-top: 0;
        margin-bottom: 0
    }
    .contact-part .error-message, .contact-part .success-message {
        margin-top: 1em;
        padding: 1em;
        max-width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0
    }
}

@media only screen and (max-width:480px) {
    #nav-item {
        background: #fff
    }
    #nav-item .social-icons a {
        color: #333;
        width: 4em;
        background: 0 0
    }
    #nav-item .mfp-close, #nav-item .mfp-close:hover, #nav-item .social-icons a:hover {
        color: #333;
        background: 0 0
    }
    .item-title h2 {
        font-size: 3rem
    }
    .background-top {
        height: 90vh
    }
    .background-top .item-title {
        top: 45vh;
        padding: 0 2%
    }
    .background-top .item-title p {
        font-size: .8em
    }
    .scroll-chevron {
        bottom: 10px
    }
    .first-block h2 {
        font-size: 2.4em;
        line-height: 1em
    }
    .first-block h3 {
        font-size: 1em
    }
    .info-block {
        padding: 5em 0 3em
    }
    img.img-right-about {
        margin-top: 3em
    }
    .second-block h2 {
        font-size: 2.4em;
        line-height: 1em
    }
    .second-block h3 {
        font-size: 1em
    }
    .item-service {
        padding: 2em
    }
    .countdown-block {
        padding: 5em 2em 3em
    }
    .countdown-block #countdown_dashboard .dash-glob .dash .digit {
        font-size: 2.7em;
        height: 1em;
        line-height: 1em;
        font-weight: 500;
        margin-bottom: .2em
    }
    .countdown-block #countdown_dashboard .dash-glob .dash {
        padding-bottom: 50px
    }
}
